*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/bg.jpg) center/cover;
}
.home-wrapper{
padding: 10px 50px;
background: #fff;
}
video{
width: 50%;
height: 250px;
display: block;
margin: 30px auto;
}
h1{
font-size: 60px;
text-align: center;
text-transform: uppercase;
}
.link-wrap{
display: flex;
justify-content: center;
}
ul{
list-style-type: none;
margin-bottom: 20px;
display: flex;
}
li{
text-align: center;
margin: 0 20px;
}
a{
text-decoration: none;
color:#a6bcc4;
font-size: 40px;
display: block;
text-transform: uppercase;
}
.home-info{
text-align: center;
font-size: 30px;
max-width: 900px;
}
input{
width: 50%;
display: block;
height: 40px;
margin: 30px auto;
border-radius: 5px;
border: 1px solid #114357;
padding-left: 10px;
outline: none;
}
button{
padding: 10px 20px;
font-size: 25px;
background: #B9D3DC;
outline: none;
border: none;
display: block;
margin: 30px auto;
border-radius: 5px;
color: #fff;
cursor: pointer;
}
button:hover{
opacity: 0.8;
}
button:active{
background: #a6bcc4;
}
#wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 50px;
padding: 30px;
margin-top: 30px;
}
#wrapper>div{
background: #fff;
padding: 20px;
}
#wrapper img{
width: 100%;
display: block;
margin-top: 30px;
}
#checkinMap {
width: 100%;
height: 100vh;
}
.leaflet-control-attribution{
display: none;
}
.leaflet-control-container{
display: none;
}
.menu-wrap{
width: fit-content;
position: fixed;
top: 30px;
right: 30px;
padding: 30px;
display: flex;
justify-content: center;
flex-direction: column;
background: #fff;
z-index: 10000;
}
